.Form{
	margin: 20px auto 0;
	width:40%;
	-webkit-box-shadow: 0px 0px 5px 0px #bdc3c7;
			box-shadow: 0px 0px 5px 0px #bdc3c7;
}

.Search{
	border:none;
	height:4.5vh;
	width:90%;
	padding-left:5px;
	
}

.Button{
	height:4.8vh;
	width:10%;
	border:none;

	background-color:#007791;
	-webkit-box-shadow: 0px 0px 5px 0px #bdc3c7;
			box-shadow: 0px 0px 5px 0px #bdc3c7;
	
}

@media all and (max-width: 770px){
    .Form{
    	width:60%;
    }
	.Button{
		width:15%;
	}
	.Search{
		width:85%;
	}

}