/*centers the event viewer within the <Container />*/
.EventViewer{
	width:85%;
	/*margin:0 auto;*/
	margin-top:50px;
	height:100vh;
	overflow:scroll;
}

@media all and (max-width:450px){
	.EventViewer{
		margin:50px auto 0 auto;
	}
}