.Event{
	border-radius:5px;
	background-color: white;
	border:1px solid #f8f9fa;
	width: 70%;
	margin:0 auto 35px auto;
	background-color: #fafafa;
	/*box-shadow:3px 4px 25px #263238 ;*/

}
.EventContainer{
	width:94%;
	overflow:hidden;
	margin:0 auto;
}

.Event h5{
	display: inline-block;
	margin-left: 4%;
	color:#547490;
	margin-top: 10px;
}



.TopLine{
	border:1px solid #F0F0FF;
	width:30%;

}
.Aid {
	width:100%;
	margin-top: 15px;
	margin-bottom:15px;
}
.Aid h3{
    display: block;
    box-sizing: border-box;
    margin-left:2%;
    margin-top: 15px;
    position: relative;
    bottom:15px;

    /*previous solution
    vertical-align: top;
    margin-top:3%;
    */
}

.Event img{
	display:block;
 margin:0 auto 20px auto;
  padding-bottom:10px;

}

.BotLine{
	border:1px solid #F0F0FF;
	width:100%;
	margin-top:15px;
}

.EventContainer button {
  float:right;
}

@media all and (max-width:910px){
  
  .Event{
  	width:100%;
  	
  }
  .Event h3{
  	display:block;
  	bottom:none;
  	margin-left: 0;
  	margin-top: 15px;
  }
}

@media all and (max-width:670px){
	.TopLine{
		width:35%;
	}
}

@media all and (max-width:561px){
	.TopLine{
		width:150px;
	}
	.EventContainer button {
		margin-right:20px;
		width:50px;
	}
	.Aid img{
		display: block;
		margin:0 auto 10px auto;

	}
}

@media all and (max-width:310px){

	.EventContainer button {
		display:block;
		margin:0 auto;
		float:none;
		margin-top: 5px;

	}
}
